<h1>{{title}}</h1>
<div class="chart-container">
    <form>
        <label><input type="radio" name="mode" (click)="chartChange('grouped')" value="grouped"> Grouped</label>
        <label><input type="radio" name="mode" (click)="chartChange('stacked')" value="stacked" checked> Stacked</label>
    </form>
    <p [chartBar]="bar1">Highlight me!</p>
</div>

<div class="chart-container">
    <form>
        <label><input type="radio" name="mode2" (click)="chartChange2('grouped')" value="grouped"> Grouped</label>
        <label><input type="radio" name="mode2" (click)="chartChange2('stacked')" value="stacked" checked> Stacked</label>
    </form>
    <p [chartBar]="bar2">Highlight me!</p>
</div>
